
.control-grid {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 25%;
    margin: 5px 0px;
}

.control-box {
    border: 2px solid #444;
    width: 20px;
    height: 20px;    
    cursor: pointer;
}

.control-box.selected {
    background: rgba(0,0,0,0.5);
}

/* Light Theme */
.control-box.light {
    border: 2px solid white;
}
.control-box.selected.light {
    background: rgba(255,255,255, 0.5);
}

.control-box.round {
    border-radius: 20px;
}