
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 22px;   
    
    font-family: 'Roboto Condensed', sans-serif;
}

section { 
    position: relative;
    height: 100vh;
    display: grid;    
    place-content: center;
    
    color: white;     
    font-size: 3em;  
    
    overflow-x: hidden;
}

section:nth-child(1) {     
    /* display: block;        */
    box-shadow: 0px 4px 6px #444;   
    z-index: 2;

    overflow:hidden;

    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "ul uc ur"
        "cl cc cr"
        "ll lc lr";
    
    /* perspective: 8px; */
    /* perspective-origin: 0%;     */
    /* transform-style: preserve-3d; */
    /* display: none; */
}

section .foreground {    
    position: relative;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "ul uc ur"
        "cl cc cr"
        "ll lc lr";

    /* transform-origin: 0; */
    /* transform: translateZ(3px) scale(0.625); */
}

section .background {    
    position: absolute;
    /* transform: translateZ(0px); */
    /* z-index: -10; */
    /* perspective: 20px; */
    /* transform: translateZ(-1px) scale(1.5); */

    inline-size: 100%;
    block-size: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: url('../img/hero/huckleberry-lookout.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;

    /* transform:scale(1.2); */
    /* background-position: 2px 3px; */
    /* transition: transform .5s;  */ 
    transition: opacity 0.5s;   
    
    /* box-shadow: 0 0 18px 18px #444 inset; */
}

section .background-0 {
    background: url('../img/hero/huckleberry-lookout.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
section .background-1 {
    background: url('../img/hero/whitefish.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
section .background-2 {
    background: url('../img/hero/lakemcdonald.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.fade-out {
    opacity: 0;   
}
.fade-in { 
    opacity: 1;
}

@keyframes animate-opacity {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }
}

/* section .background:hover {

} */


section.landing { display :none; }

/* ABOUT */
section.about {    
    position: relative;
    height: 150vh;
    width:100%;
    display: block;
    overflow-y: hidden;
    /* place-content: start; */
    /* grid-template-rows: 1fr 100px 4fr; */

    background-color: white;
    color: black;
    /* padding: 10%; */

    border-bottom: 20px solid white;

    /* background-color: red; */
}

.intro {
    display: block;
    letter-spacing: 4px;
    line-height: 40px;    
    
    /* margin: 60px; */
    /* margin-bottom: 10px; */
}
.intro p:nth-child(1) {
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.intro p:nth-child(2) { 
    margin-left: 25%;
    margin-right: 16px;
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;    
    text-align: right;    
}

.slant {
    overflow-x: hidden;
    padding: 5px;
    position: absolute;
    right: -20px;
    /* margin-right: -20px; */
    width: 60%;
    color: white;
    background-color: black;
    transform: skew(45deg); 
}

.slant div {
    display: flex;
    justify-content: space-between;
    transform: skew(-45deg);
    margin-left: 20px;
    padding-right: 40px;
    padding-left: 10px;
}

.diagonal-rects {
    position:relative; z-index: 2;
    /* position: absolute; */
    /* top: 0px; */
    /* border: 2px solid green; */
    /* height: 100%; */
    width: 150%;
    /* margin-top: 80px; */
    
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr);  */
    /* grid-auto-rows: 200px;  */
    background-color:white;  /* cheap way to cover the row gap on inline-block  */
    transform-origin: 0 0;  
    transform: rotate(30deg);
}
.diagonal-rects div {    
    display: inline-block;
    min-width: 33%;
    min-height: 200px;
    max-height: 200px;
    border: 10px solid white;    
}

.diagonal-rects div:nth-child(1) {
    position: relative;
    overflow:hidden;    
}
.diagonal-rects div:nth-child(1)::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    top: -200%;
    left: -62%;
    z-index: -1;
    background: url('../img/hero/lakemcdonald.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(330deg);
    background-position-y: 50%;
    background-position-x: 0%;
  }
  
.diagonal-rects div:nth-child(2) {
    min-width: 25%;
    position: relative;
    overflow:hidden;    
}
.diagonal-rects div:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    top: -200%;
    left: -62%;
    z-index: -1;
    background: url('../img/hero/whitefish.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(330deg);
    background-position-y: 50%;
    background-position-x: 0%;
  }

.diagonal-rects div:nth-child(3) {
    position: relative;
    overflow:hidden;    
}
.diagonal-rects div:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    top: -200%;
    left: -62%;
    z-index: -1;
    background: url('../img/hero/huckleberry-lookout.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(330deg);
    background-position-y: 50%;
    background-position-x: 0%;
  }


.diagonal-rects div:nth-child(4) {
    min-width: 45%;

    position: relative;
    overflow:hidden;
}
.diagonal-rects div:nth-child(4)::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    top: -200%;
    left: -52%;
    z-index: -1;
    background: url('../img/hero/huckleberry-lookout.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(330deg);
    background-position-y: 50%;
    background-position-x: -35%;
  }



.diagonal-rects div:nth-child(5) {
    min-width: 55%;

    position: relative;
    overflow:hidden;
}

.diagonal-rects div:nth-child(5)::before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    top: -320%;
    left: -26%;
    z-index: -1;
    background: url('../img/hero/whitefish.jpg');
    background-repeat: no-repeat;
    background-size:50%;
    transform: rotate(330deg);
    background-position-y: 50%;
    background-position-x: -35%;
  }

.diagonal-filler {
    position: relative;
    z-index: 1;
    bottom: 0px;
    /* left: 0px; */
    width: 50%;
    height: 400px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(148, 148, 148,0.5));
    /* background-color: red; */
}




/*  PROJECTS */

section:nth-child(3) {
    background-color: rgb(8, 218, 255);
}
section:nth-child(4) {
    background-color: rgb(21, 21, 21);
}
section:nth-child(5) {
    background-color: rgb(220, 239, 170);
    height: 50vh;
}


/*  */

.logo {
    /* position: relative; */
    /* z-index: 10; */
    grid-area: cc;
    margin: auto;
    /* border: 1px solid red;     */
    background: url('../img/hero/logo.png');
    background-size: contain;
    background-repeat: no-repeat;

    height: 100%;
    max-height:400px;
    width: 100%;
    max-width: 400px;

    filter: drop-shadow(4px 4px 4px #444);
}

.logo img {
    display: none;
    /* display: block; */
    height: 100%;
    max-height:400px;
    width: 100%;
    max-width: 400px;

    filter: drop-shadow(4px 4px 4px #444);
}

.nav-menu {
    grid-area: uc;
    position: relative;
    justify-self: end;
    margin-top: 8px;
    /* position: absolute; */
    /* top: 10px; */
    /* right: 80px; */
    /* border: 1px solid red; */
}

.nav-menu ul {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;

    /* background-color: rgba(0,0,0,0.05); */
}

.nav-menu li { 
    list-style: none;
    margin: 10px 20px;
    font-size: 16px;
    letter-spacing: 2px;
}

.profession {    
    position: absolute;    
    top: 50%;
    right: -180px;      
    transform-origin:center;
    transform:rotate(90deg);

    text-transform: uppercase;    
    font-size: 18px;
    letter-spacing: 4px;
}

.text-with-contrast { 
    font-weight: 700;
    text-shadow: -2px -2px 10px #444, 2px 2px 2px #444, 0px 0px 4px #444;
}

.nav-carousel { 
    /* grid-area: cl; */
    position: absolute;
    height: 100%;
    width: 200px;
    transition: background-color 1.5s;
    /* border: 1px solid red; */
}
.nav-carousel:hover {
    /* background: linear-gradient(rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.7) 80%); */
    background-color: rgba(255, 255, 255, 0.3);
    /* box-shadow: 0 0 4px #444; */
}

.gradient-line {
    width: 1px;
    height: 100%;    
    position: absolute;
    top: 0px;
    left: 100px;      

    border-left: 1px solid rgba(255, 255, 255, 0.4);
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 1px;
    background-repeat: repeat-y;  */
}

/* .nav-carousel::after { */
.gradient-up {
    /* content: '';         */
    width: 1px;
    height: 100%;    
    position: absolute;
    top: 0px;
    left: 160px;       
    
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 30px;
    background-repeat: repeat-y; 
    /* animation: dashed-border-animation-up 10s infinite linear;      */
    animation: none;
}
.gradient-up.animate {
    animation: dashed-border-animation-up 10s infinite linear;     
}

/* .nav-carousel::before { */
.gradient-down {
    /* content: '';         */
    width: 1px;
    height: 100%;    
    position: absolute;
    top: 0px;
    left: 40px;       
    
    transform: rotate(180deg);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 30px;
    background-repeat: repeat-y;     
    /* animation: dashed-border-animation-down 10s infinite linear;        */
    animation: none;
}
.gradient-down.animate {
    animation: dashed-border-animation-down 10s infinite linear;      
}

/* .gradient-border-right {
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 30px;
    background-repeat: repeat-y; 
    animation: dashed-border-animation-up 10s infinite linear;   
} */
@keyframes dashed-border-animation-up {    
      100% {
        background-position: right 25px;
        /* opacity: 0.3; */
      }
  }

/* .gradient-border-left {
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: left;
    background-size: 1px 30px;
    background-repeat: repeat-y; 
    animation: dashed-border-animation-down 10s infinite linear;   
} */
@keyframes dashed-border-animation-down {   
    0% {
        /* opacity: 0.1; */
    }
    50% {
        /* opacity: 1; */
    }
    100% {
        /* transform: rotate(360deg); */
        background-position: right 25px;
        /* opacity: 0.1; */
      }
  }


.nav-carousel ul {
    padding: 40px 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}
.nav-carousel li { 
    list-style: none;
    border: 4px solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 0 4px #444;
}

