
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 22px;   
    
    font-family: 'Roboto Condensed', sans-serif;
}

section { 
    position: relative;
    height: 100vh;
    display: grid;    
    place-content: center;
    
    color: white;     
    font-size: 3em;  
    
    overflow-x: hidden;
}

section:nth-child(1) {  
    position: relative;   
    display: block;       
    box-shadow: 0px 4px 6px #444;   
    z-index: 2;
    overflow:hidden;

    /* display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "ul uc ur"
        "cl cc cr"
        "ll lc lr"; */
    
    /* perspective: 8px; */
    /* perspective-origin: 0%;     */
    /* transform-style: preserve-3d; */
    /* display: none; */
}

section .foreground {    
    position: relative;
    width: 100%;
    height: 100%;

    /* display: grid;
    grid-template-columns: 50px 1fr 100px;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas:
        "ul uc ur"
        "cl cc cr"
        "ll lc lr"; */

    /* transform-origin: 0; */
    /* transform: translateZ(3px) scale(0.625); */
}

section .background {    
    position: absolute;
    /* transform: translateZ(0px); */
    /* z-index: -10; */
    /* perspective: 20px; */
    /* transform: translateZ(-1px) scale(1.5); */

    inline-size: 100%;
    block-size: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: url('../img/hero/huckleberry-lookout.jpg'); 
    /* background: linear-gradient(to right, rgba(0,0,0, 0) 65%, rgba(0,0,0, 0.5)), url('../img/hero/huckleberry-lookout.jpg'); */
    background-size: cover; 
    background-repeat: no-repeat;
    
    transform:scale(1.2);

    /* background-position: 2px 3px; */
    /* transition: transform .5s;  */ 
    transition: opacity 0.5s;   
    
    /* box-shadow: 0 0 18px 18px #444 inset; */
}
section .background::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background: linear-gradient(to right, rgba(0,0,0, 0) 65%, rgba(0,0,0, 0.5));
    /* background: red; */

}

section .background-0 {
    background: url('../img/hero/huckleberry-lookout.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
section .background-1 {
    background: url('../img/hero/whitefish.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
section .background-2 {
    background: url('../img/hero/lakemcdonald.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.fade-out {
    opacity: 0;   
}
.fade-in { 
    opacity: 1;
}

@keyframes animate-opacity {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}

/* section .background:hover {

} */


/* section.landing { display :none; } */

/* ABOUT */
section.about {    
    position: relative;
    height: 150vh;
    width:100%;
    display: block;
    overflow-y: hidden;
    background-color: white;
    color: black;
    border-bottom: 20px solid white;
}



/* MODAL */
.modal-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);    
}


.text-overlay {    
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    z-index: 10;
    border:none;
    color:white;
    opacity: 0;
    background: rgba(0,0,0,0.5);  
    background: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.6));

    padding: 20px;
    padding-top: 48px;

    line-height: 40px;
    letter-spacing: 1px;
    transform: scale(0.98);
    animation: fade-in 1s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
}
.about-image.revert-undo > .text-overlay {
    animation: fade-out 2000ms ease-out;
    animation-fill-mode: forwards;
}
.text-overlay .title{ 
    font-size: 1.1em;   
    text-shadow: 1px 1px 1px #444; 
}
.text-overlay .description{ 
    font-size: 0.75em;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform:scale(1);
    }    
}
@keyframes fade-out {
    0% {
        opacity: 1;
        transform:scale(1);        
    }
    100% {
        opacity: 0;
    }    
}

.revert {
    background-color: white;
    transform-origin: 0 0;    
    animation: moveIt 2s ease-in-out;
    animation-fill-mode: forwards;    
    transition: all 1s, outline 0ms;

    /* overflow: unset !important; */
    
    outline: 999px solid rgba(0,0,0,0.3);
    /*box-shadow: 0 0 0 999px rgba(0,0,0,0.5); */  /* THIS KILLS THE FRAME RATE */
}
/* .revert::after {
    content: ' ';
    position: absolute;
    z-index: 1;
    top:-500%;
    left: -500%;
    width: 1000%;
    height:1000%;
    background: rgba(0,0,0,0.5);    
} */
.revert:focus {
    /* outline: none; */
    outline: 999px solid rgba(0,0,0,0.3);
}

div.row1 > div.revert:before, div.row2 > div.revert:before {
    transform: rotate(-0deg);
    opacity: 1.0; 
    background-size: 100%;
    background-position: 0 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; 
    transition: all 2.5s;     
}
div.about-image.revert:hover:before {
    opacity: 1.0; 
}
div.about-image:hover:before {            
    opacity: 0.5;     
}

/* div.image1::after {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9;

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);    
} */


@keyframes moveIt {
    0% {           
    }
    25% {
        transform: rotate(-30deg);
    }    
    75% {
        transform: rotate(-30deg);
        border-width: 10px;
        /* box-shadow: 0px 0px 0px #444;    */
    }
    100% {        
        transform: rotate(-30deg);
        border-width: 10px;                
        /* box-shadow: 1px 1px 4px #444;    */
    }    
}

.revert-undo {
    background-color: white;
        
    animation: undoIt 1s ease-in-out;
    animation-fill-mode: forwards;
    outline: 999px solid rgba(0,0,0,0.3);    
    transition: all 2s;
    border-width: 10px !important;
}


@keyframes undoIt {
    0% {
        transform: rotate(-30deg);    
        /* outline: 999px solid rgba(0,0,0,0.3);     */
    }

    75% {
        /* opacity: 1; */
    }    
    
    100% {           
        /* top: 0px; */
        /* left: 0px;   Set with Javascript */
        transform: rotate(0deg); 
        
        /* outline: none; */
        /* opacity: 0;  */
        
        /* width: 0;    Set with Javascript */
        /* height: 0;   Set with Javascript */
        /* opacity: 0;  Maybe scrap this */
    }      
}



.intro {
    display: block;
    letter-spacing: 4px;
    line-height: 40px;    
    
    /* margin: 60px; */
    /* margin-bottom: 10px; */
}
.intro p:nth-child(1) {
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.intro p:nth-child(2) { 
    margin-left: 25%;
    margin-right: 16px;
    margin-bottom: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 40px;    
    text-align: right;    
}

.slant {
    overflow-x: hidden;
    padding: 5px;
    position: absolute;
    right: -32px;
    /* margin-right: -20px; */
    width: 65%;
    color: white;
    background-color: black;
    transform: skew(60deg); 
}

.slant div {
    display: flex;
    justify-content: space-between;
    transform: skew(-60deg);
    margin-left: 20px;
    padding-right: 40px;
    padding-left: 10px;
}


/* ----------------------- DIAGONAL IMAGE GRID ------------------------------ */

/* .about { background-color: maroon !important;} */

.diagonal-rects {
    position:relative; 
    z-index: 2;
    
    width: 150%;                /* This will change via media queries depending on the screen dimensions */
    margin-top: 80px;
   
    background-color:white;  /* cheap way to cover the row gap on inline-block  */
    transform-origin: 0 0;      
    transform: rotate(30deg) translate(-50px, -60px);
}


/* The two image rows */
div.row1, div.row2 {
    width: 100%;  
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* The elements in the two image rows */
.row1 > div, .row2 > div {    
    position: relative;    
    overflow:hidden;         
    border: 10px solid white;       
} 
.row1 > div {
    min-height: 250px;
    max-height: 250px;
    border-top: 20px solid white;     
}
.row2 > div {
    min-height: 420px;
    max-height: 420px;
    border-bottom: 20px solid white;     
}

/* HOVER STATES */
.row1 div:hover, .row2 div:hover {         
    cursor:pointer;
    z-index:100;
}


/* Customize the size of each image element */
div.image1 {    
    width: calc(100% / 3);     
    z-index: 11;
}
div.image2 {    
    width: calc(100% / 3); 
}
div.image3 {    
    width: calc(100% / 3); 
}
div.image4 { 
    width: calc(100% / 2);     
}
div.image5 {     
    width: calc(100% / 2);     
}
/* div.image6 { 
    width: calc(100% / 4);     
}
div.image7 {     
    width: calc(100% / 4);     
} */


/* ------------------------ IMAGE BEFORES ------------------------------------ */

/* all diagonal image elements */
div.row1 > div:before, div.row2 > div:before {  
    content: "";
    position: absolute; width: 300%; height: 300%; z-index: 10;    
    top: -200%; left: -62%;  
    
    background-position-y: 50%;
    background-position-x: 0%;
    background-repeat: no-repeat; 
    background-size: cover;

    transform: rotate(-30deg);
    transition: all 2.5s;    
}

/* pseudo element to hold the image in the image elements */
div.image1::before {    
    top: -58%;
    left: -112%;        
    background: url('../img/hero/lakemcdonald.jpg');     
}
div.image2::before {        
    background: url('../img/hero/whitefish.jpg');    
}
div.image3::before {    
    background: url('../img/hero/lakemcdonald.jpg');    
}
div.image4::before {    
    top: -200%; left: -52%;    
    background: url('../img/hero/huckleberry-lookout.jpg');    
}
div.image5::before {    
    top: -212%; left: -52%;    
    background: url('../img/hero/whitefish.jpg');    
}


.diagonal-filler {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    
    width: 200%;
    height: 100vh;
    
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(148, 148, 148,0.5)); 
    
    transform-origin: 0 0;  
    transform: rotate(30deg); 
}


@media only screen and (max-width: 1180px)  {
    /* Put your CSS here up to 100px width devices (cover all width between 200px to 767px // */
    .diagonal-rects { width: 175%;}

    div.image1 { 
        width: calc(100% / (8/10));     
    }
    div.image2 {         
        width: calc(100% / (6/10));     
    }
    div.image3 {  
        width: calc(100% / (5/10));     
    }

    div.image4 { 
        width: calc(100% / (6/10));     
    }
    div.image5 {     
        width: calc(100% / (6/10));     
    }

    /* SIZE OF ABOUT SECTION */
    section.about {            
        height: 105vh;
    }
    .diagonal-filler {        
        height: 50vh;
    }
    .slant {
        width: 85%;
    }
    .intro p:nth-child(2) {
        margin-left: 15%;
    }


    /*  SIZE OF DIAGONAL GRID */
    .row1 > div {
        min-height: 200px;
        max-height: 200px;
    }    
    .row2 > div {
        min-height: 260px;
        max-height: 260px;
    }

    section .background {
        background-position: -240px 5px;
    }

    /* ADJUST IMAGE POSITIONS */
    /* div.image2::before {    
        top: -230%;
        left: -45%;
    } */
}


@media only screen and (max-width: 768px)  {
    /* Put your CSS here for up to 768px width devices (cover all width between 200px to 767px // */
    .diagonal-rects { width: 200%;}

    div.image1 { 
        width: calc(100% / (8/10));     
    }
    div.image2 {         
        width: calc(100% / (4/10));     
    }
    div.image3 {  
        display: none;           
    }

    div.image4 { 
        width: calc(100% / (5/10));     
    }
    div.image5 {     
        width: calc(100% / (5/10));     
    }

    /* ADJUST IMAGE POSITIONS */
    div.image2::before {    
        top: -230%;
        left: -75%;
    }
}






/*  PROJECTS */

section:nth-child(3) {
    background-color: rgb(8, 218, 255);
}
section:nth-child(4) {
    background-color: rgb(21, 21, 21);
}
section:nth-child(5) {
    background-color: rgb(220, 239, 170);
    height: 50vh;
}


/*  */

/* .logo {    
    grid-area: cc;
    margin: auto;    
    background: url('../img/hero/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    max-height:400px;
    width: 100%;
    max-width: 400px;
    filter: drop-shadow(4px 4px 4px #444);
} */


.logo {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    /* display: grid; */
    /* place-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.git-page-logo-hack {
    position: relative;
    z-index: 10;
    width:100%;
    height: 100%;
    max-width:350px;
    max-height: 350px;
    /* content: ""; */
    /* position: absolute; width: 300%; height: 300%; z-index: 1; */
    /* top: -58%; */
    /* left: -112%;     */
    background: url('../img/hero/logo.png');  background-repeat: no-repeat; background-size: cover;
        
    background-position-y: 50%;
    background-position-x: 0%;   
}

.logo img {
    /* display: none; */
    display: block;
    height: 100%;
    max-height:350px;
    width: 100%;
    max-width: 350px;

    filter: drop-shadow(4px 4px 4px #444);
}



.nav-menu {
    /* color: black; */
    position: relative;
    z-index: 10;
    grid-area: uc;
    position: relative;
    justify-self: end;    
    position: absolute;
    top: 0px;
    right: 0px;
    /* border: 1px solid red; */
}

.nav-menu ul {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;

    /* background-color: rgba(0,0,0,0.05); */
}

.nav-menu li { 
    list-style: none;
    margin: 20px 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

.profession {    
    position: absolute;
    z-index: 10;    
    top: 50%;
    right: -140px;      
    transform-origin:center;
    transform:rotate(90deg);

    text-transform: uppercase;    
    font-size: 14px;
    letter-spacing: 4px;
}

.text-with-contrast { 
    font-weight: 700;
    text-shadow: -2px -2px 10px #444, 2px 2px 2px #444, 0px 0px 4px #444;
    text-shadow: 0px 0px 1px #444, 0px 0px 4px #444, 0px 0px 0px #fff;
    text-shadow: 1px 0px 1px #444, 0px 1px 1px #444;
    /* text-shadow: 1px 1px 1px #444; */
}

.nav-carousel { 
    /* grid-area: cl; */
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 200px;
    transition: background-color 1.5s;
    /* border: 1px solid red; */        
}
.nav-carousel:hover {
    /* background: linear-gradient(rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.7) 80%); */
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* box-shadow: 0 0 4px #444; */
}
.nav-carousel li {
    animation: animate-opacity 9s infinite ease-in-out;
    /* animation: dashed-border-animation-up 10s infinite linear;       */
}
.nav-carousel li:nth-child(2) {
    animation-delay: 600ms;
}
.nav-carousel li:nth-child(3) {
    animation-delay: 1200ms;
}

.gradient-line {
    width: 1px;
    height: 100%;    
    position: absolute;
    top: 0px;
    left: 100px; 
    opacity: 0.5;     

    border-left: 1px solid rgba(255, 255, 255, 0.4);
    animation: animate-opacity 4s infinite ease-in-out;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 1px;
    background-repeat: repeat-y;  */
}

/* .nav-carousel::after { */
.gradient-up {
    /* content: '';         */
    width: 1px;
    height: 100%;    
    position: absolute;
    top: 0px;
    left: 160px;
    opacity: 0.7;       
    
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 30px;
    background-repeat: repeat-y; 
    /* animation: dashed-border-animation-up 10s infinite linear;      */
    animation: none;
}
.gradient-up.animate {
    animation: dashed-border-animation-up 20s infinite linear;     
}

/* .nav-carousel::before { */
.gradient-down {
    /* content: '';         */
    width: 1px;
    height: 100%;    
    position: absolute;
    top: 0px;
    left: 40px; 
    opacity: 0.7;      
    
    transform: rotate(180deg);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 30px;
    background-repeat: repeat-y;     
    /* animation: dashed-border-animation-down 10s infinite linear;        */
    animation: none;
}
.gradient-down.animate {
    animation: dashed-border-animation-down 22s infinite linear;      
}

/* .gradient-border-right {
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: right;
    background-size: 1px 30px;
    background-repeat: repeat-y; 
    animation: dashed-border-animation-up 10s infinite linear;   
} */
@keyframes dashed-border-animation-up {  
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }  
      100% {
        background-position: right 25px;
        opacity: 0.5;
      }
  }

/* .gradient-border-left {
    position: absolute;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 40%, rgba(255, 255, 255, 0) 20%);
    background-position: left;
    background-size: 1px 30px;
    background-repeat: repeat-y; 
    animation: dashed-border-animation-down 10s infinite linear;   
} */
@keyframes dashed-border-animation-down {   
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.7;
    }  
    100% {
        /* transform: rotate(360deg); */
        background-position: right 25px;
        opacity: 0.5;
      }
  }


.nav-carousel ul {
    padding: 40px 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;    
}
.nav-carousel li { 
    list-style: none;
    border: 4px solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 0 4px #444;
}

