@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 22px;   
    
    font-family: 'Roboto Condensed', sans-serif;
}



section { 
    position: relative;
    /* height: 100vh; */
    height: 100%;
    
    color: white;     
    font-size: 3em;  
    
    overflow-x: hidden;    
}


section.work {
    /* height: 100vh;   */
    height: 100%;  
    background: linear-gradient(
        var(--slider-image-overlay),
        var(--slider-image-overlay)),
        url('../img/timeline/snow_up_bw_white.png');
    background-size: cover;  
    background-position: 25%;     

    /* background: white; */
    border-bottom: 20px solid white;    
}



section.center {
    display: grid;     
    place-content: center;     
}

.modal {
    opacity: 0;
    display:block;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);    
    transition: opacity 1.5s;
}
.modal.show {
    display: block;    
    opacity: 1;    
}
.modal.on-top {
    z-index: 10;
}

.right-edge {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* PADDING */
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.p10-20 {
    padding: 10px 20px;
}

/* BACKGROUND */
.bg1 { background-color: var(--primary-1); }
.bg2 { background-color: var(--primary-5); }
.bg3 { background-color: var(--primary-6); }
.bg4 { background-color: var(--primary-7); }
.bg9 { background-color: var(--primary-9); }
.bg10 {background-color: var(--primary-10);}

