
/* section:nth-child(1), section:nth-child(2) {
    display: none;    
} */

section.projects {    
    /* background: url(../img/projects/collage.png);
    background-size: cover; */

    display: block;
    background: #ccc;
    background: linear-gradient(#1c69f03d, #1c69f026);

    /* padding-top: 80px; */


    
    /* Animated gradient effect */
    /* background: linear-gradient(15deg, rgba(238,119,82, 0.7), #e73c7e, rgba(35,166,213, 0.8), #23d5ab);
    background-size: 400% 400%;
    animation: gradient-wave 24s ease infinite; */

    /* background:white; */
    /* background: linear-gradient(#fff 30%, #1c69f026); */

    display: flex;
    justify-content: center;
    align-items: center;
}

section.projects .text {       
    position: absolute;
    z-index: 1;
    bottom: 0px; right: 0px;
    padding: 15px 20px; 
    padding-left: 36px;
    /* width: 100%; */
    
    text-align:right;
    background-color: rgba(0,0,0,0.7);
    /* background: linear-gradient(to right, rgba(0,0,0,0.0) 30%, rgba(0,0,0,0.7) 60%); */
    /* transform: skew(15); */
}

.chevron-right {
    width: 24px;
    height: 24px;  
    
    position: relative;
    top: 4px;
}

/* section.projects .text::before {    
    content: '';       
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    z-index: -1;        
    background-color: rgba(0,0,0,0.7);    
    transform: skew(-30deg);  
    padding-left: 120px;
    margin-left: -30px; 
} */


section.projects .imagery {
    background: url(../img/projects/collage.png); 
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: 100%;
    background-size: cover;        
    
    width: 100%;
    height: 100%;    
}


@keyframes gradient-wave {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

