.detail-page {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: white;
    color: black;    
    font-size: 22px;
}
.detail-page p {
    /* font-size: 22px; */
}

.segment {
    position: relative;
    z-index: 10;
    width: 100%;
    min-height: 100px;
    /* border: 1px solid blue; */
    /* margin-bottom: 20px; */
    /* padding:60px; */
}

.image-full-width {
    position: relative;
    /* background: white; */
    /* background: rgba(0,0,0,0.5); */
    width: 100%;
    /* min-height: 400px;     */
}
.image-full-width img { 
    /* width: 100%;
    display: block; */
    /* object-fit: cover; */
    width:100%; 
    height:100%;
    margin: 0 auto;
    
}
/* .image-background-full-width {   
    height: 100%; 
} */

.text-container {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.4);
    background: linear-gradient(
        rgba(0,0,0,0.0) 35%,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.0)65%
    ) */
}

.text-overlay {
    font-size: 2em;  
    text-transform: uppercase;
    color: white; 
    letter-spacing: 10px;
    word-spacing: 10px; 
    /* background-color: rgba(0,0,0,0.5); */
    /* padding: 20px;     */
}

.text-block-half {
    height: 100%;      
}
.text-block-half p {
    max-width: 35em;
}

.text-block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}

.segment h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4em;
}
.segment h4, .segment p {
    margin-bottom: 30px;
    line-height: 1.7em;
}
.segment p:last-of-type {
    margin-bottom: 0px;
}



.image-collage-2-1 {
    position: relative;
    height:500px;    
}
.image-collage-2-1 > div.one  {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 25%;    
    min-height: 200px;
    background: rgba(0,0,0,0.5);    
}
.image-collage-2-1 > div.two  {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 25%; 
    min-height:200px;  
    background: rgba(0,0,0,0.2);    
}
.image-collage-2-1 > div.three  {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 70%;    
    min-height:450px;  
    background: rgba(0,0,0,0.7);    
}

/* Image Grid */
.image-grid-2-1 {
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;        
}
.image-grid-2-1 .grid-left {
    width: 100%;    
    display: grid;
    grid-gap: 60px;
    grid-template-rows: 1fr 1fr;    
}
.image-grid-2-1 .one {    
    background: rgba(0,0,0,0.5);
    width: 50%;
    min-height:200px;
}
.image-grid-2-1 .two {    
    background: rgba(0,0,0,0.5);
    width: 100%;
    width:50%;
    min-height:200px;
    justify-self: center;    
}
.image-grid-2-1 .three {    
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 75%;    
    justify-self: flex-end;    
    align-self: center;
}





/* GLOBALS */

.box-shadow-1 { box-shadow: 0 0 4px #444; }
.box-shadow-2 { box-shadow: 0px 4px 6px #444; }

.v100 { min-height: 100vh; }

.fixed-image {
    position: fixed;
    z-index: 1;
}

.top-right {
    position: absolute;
    top: 10;    
    width: 100%;
    text-align: right;
    padding: 15px;
    color: white;
    padding-bottom: 20px;
    /* text-shadow: 0 0 25px #444; */
    background: linear-gradient(        
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.0)
    );
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 4px;
}

.bottom-right {
    position: absolute;
    bottom: 20%;    
    width: 100%;   
    padding: 20px; 
    
    background: linear-gradient(        
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.2)
    );

    background: linear-gradient(
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.0)
    ) 
}

.grid-center {
    display: grid;
    place-content: center;
}

p.fs16 { font-size: 1.6em;}

.p0 { padding: 0px; }
.p40 { padding: 40px; }
.p60 { padding: 60px; }
.p80 { padding: 80px; }

.p-top-0 { padding-top: 0px; }
.p-top-40 { padding-top: 40px; }
.p-bottom-0 { padding-bottom: 0px; }

.w50 {
    width: 50%;
    margin: 0 auto;
}

.w85 {
    width: 85%;
    margin: 0 auto;    
}

.bg0 {
    background-color: black;
}


.loading-start {
    opacity: 0;    
}

main {
    min-height: 100vh;
}
main::before {
    content: "loading...";           
    position: absolute;
    z-index: 1;  
    top: 50%;  
    left: calc(50% - 30px);    
    color: rgb(230, 230, 230);    
}

.loading-finished {
    opacity: 1;
    transition: opacity 1s ease-out;
}


/* ANIMATIONS & INTERSECTION OBSERVER */
.slide-left {
    transition: transform 2s, opacity 2s;
    transform: translateX(-60px);
    opacity: 0;
}
.slide-left.visible {
    transform: translateX(0px);
    opacity: 1;
}

.slide-right {
    transition: transform 2s, opacity 2s;
    transform: translateX(60px);
    opacity: 0;
}
.slide-right.visible {
    transform: translateX(0px);
    opacity: 1;
}

.scroll-target {
    transition: opacity 2s;
    opacity: 0;
}
.scroll-target.visible {
    opacity: 1;
}




/* ----------------- SMALL SCREENS ---------------- */

@media only screen and (max-width: 768px)  {
    .w50 {
        width: 85%;
        margin: 0 auto;
    }  
    .detail-page { font-size: 18px; }
    p.fs16 { font-size: 1.1em;}  
    
}



